@charset "utf-8";

.general{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	padding:0;
	margin:0;
	background-color:#EAF5FF;
}

.titulo{
	text-align:center;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:16px;
        }

.img_pr{
	border:1px ridge #9C9C9C;
	padding-left:1px;
	padding-bottom:1px;

}

.img_sscc{
	border:0px;
	padding-left:2px;
	padding-right:2px;
	padding-top:4px;

}


.table_sscc{
	background-color:#CDCDCD;
/*    border:10px ridge #D3D3D3;
*/	border:12px ridge #DADAEF;
	margin:center;
	padding:10px;

}

.td_sscc{
	background-color:#CDCDCD;
	border:1px ridge #D3D3D3;
/*	text-align:center;
	vertical-align: top;*/
}

.td_sscc_dealta{
	background-color:#FFFFFF;
	border:2px ridge #040AE3;
/*	text-align:center;
	vertical-align: top;*/
}

.td_sscc_otroservicio{
	background-color:#040AE3;
	border:1px ridge #FFFFFF;
/*	text-align:center;
	vertical-align: top;*/
}

.td_sscc_multires{
	background-color:#D70000;
	border:1px ridge #FFFFFF;
}

.tr_sscc{
	background-color:#CDCDCD;
	border:2px ridge #D3D3D3;
/*	text-align:center;
	vertical-align: top;*/
}

.fieldset_det2{
background-color:"#969696";
	text-align: left;
}




.encabezadostablas {  color: #000000; background-color: #EAF5FF; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 14px; font-style: normal; font-weight: bold;}

.encabezadoscentro {  color: #000000; background-color: #EAF5FF; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; font-style: normal;}

.titulocampo {  font-family: verdana, Helvetica, sans-serif; font-size: 11px; font-style: normal; font-weight: bold; font-variant: normal; color: #000000; text-decoration: none}

.titulos {  font-family: Arial, Helvetica, sans-serif; font-size: 9pt; font-style: normal; font-weight: bold; text-transform: uppercase; color: #006699; text-decoration: none}

.pantalla {
	width: 100%;
	vertical-align:middle;
	
}

.tabla_portada {
	margin-top: 30px;
}

.portada { 
	border: 0px outset gray; 
	width:800px; 
	height: 512px;
	margin-top: 10px;
}


.tabla_portada a  {
	display: block;
	text-decoration: none;
	color: #033
	font-size: 18px;
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
	font-size: 14px;
	color: #006;
}
.boton {
	font-size: 13px;
	font-family: Tahoma, Geneva, sans-serif;
	line-height: 20px;
}
fieldset{ 
	border:1px solid #A6C9E2;
	border-radius: 5px;
}
fieldset.fondoF{
	background-color: #D7E2EE;
	font-size: 12px;
	font-family: Arial, Verdana;
}
legend{
	padding: 5px 6px;
	font-size: 10pt;
	text-align: left;
	border: 1px solid #68a2cc;
	background: #E2F1FD;
}
legend.estilo1{
	border: 1px solid #68a2cc;
	background: #68A2CC;
	color: #FFF;
}
legend.estilo2{
	border: 2px solid #0066FF;
	background-color: #00FF00;
}

.listado {
	margin:0px;padding:0px;
	width:100%;
	border:1px solid #faf9fc;
	
	-moz-border-radius-bottomleft:0px;
	-webkit-border-bottom-left-radius:0px;
	border-bottom-left-radius:0px;
	
	-moz-border-radius-bottomright:0px;
	-webkit-border-bottom-right-radius:0px;
	border-bottom-right-radius:0px;
	
	-moz-border-radius-topright:0px;
	-webkit-border-top-right-radius:0px;
	border-top-right-radius:0px;
	
	-moz-border-radius-topleft:0px;
	-webkit-border-top-left-radius:0px;
	border-top-left-radius:0px;
}


.listado tr:last-child td:last-child {
	-moz-border-radius-bottomright:0px;
	-webkit-border-bottom-right-radius:0px;
	border-bottom-right-radius:0px;
}
.listado table tr:first-child td:first-child {
	-moz-border-radius-topleft:0px;
	-webkit-border-top-left-radius:0px;
	border-top-left-radius:0px;
}
.listado table tr:first-child td:last-child {
	-moz-border-radius-topright:0px;
	-webkit-border-top-right-radius:0px;
	border-top-right-radius:0px;
}.listado tr:last-child td:first-child{
	-moz-border-radius-bottomleft:0px;
	-webkit-border-bottom-left-radius:0px;
	border-bottom-left-radius:0px;
}.listado tr:hover td{
	background: #aad4ff;
}
.listado td{
	vertical-align:middle;
	border:1px solid #faf9fc;
	border-width:0px 1px 1px 0px;
	padding:5px;
	font-size:10px;
	font-family:Verdana;
	font-weight:normal;
	color:#706a6a;
}
.listado tr:nth-child(odd){ 
	background-color:#D8D8D8;  
}
.listado tr:nth-child(even){
	background-color:#EFF3FF;
}
.listado tr:last-child td{
	border-width:0px 1px 0px 0px;
}.listado tr td:last-child{
	border-width:0px 0px 1px 0px;
}.listado tr:last-child td:last-child{
	border-width:0px 0px 0px 0px;
}
.listado tr:first-child td{

	background-color:#68a2cc;
	border:0px solid #faf9fc;
	text-align:center;
	border-width:0px 0px 1px 1px;
	font-size:12px;
	font-family:Arial;
	font-weight:bold;
	color:#ffffff;
}

.listado tr:first-child td:first-child{
	border-width:0px 0px 1px 0px;
}
.listado tr:first-child td:last-child{
	border-width:0px 0px 1px 1px;
}
.listado tr.pendiente {
	background-color:#FFDFDF;
	color:#0F0;
}
.buttonGeneral
  {
	border: 1px solid;
	border-color: #C5DBEC #BCD6E9 #BAD5E9;
	font-size: 14px;
	font-family: Arial, Verdana;
	padding-left: 7px;
	padding-right: 7px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-o-border-radius: 4px;
	background: #E1F0FD;
	background: -moz-linear-gradient(top, #D8EBFC, #DFEFFD);
    background: -webkit-linear-gradient(top, #D8EBFC, #DFEFFD);
    background: o-linear-gradient(top,#D8EBFC, #DFEFFD);
    background: ms-linear-gradient(top, #D8EBFC, #DFEFFD);
    background: linear-gradient(top, #D8EBFC, #DFEFFD);
	box-shadow: 0 1px 1px #D1EBF4, inset 0 1px 0 #B9E1EE;
    color: #555;
    text-shadow: 0 1px 0 #A3D3F2;	
  
  }
  
  .buttonGeneral:hover
  {
  background: #DAEBF7;
  border-color: #79B7E7 #79B7E7 #79B7E7;
  background: -moz-linear-gradient(top,  #D1E6F6, #C5DFF3);
  background: -webkit-linear-gradient(top,  #D1E6F6, #C5DFF3);
  background: -o-linear-gradient(top,  #D1E6F6, #C5DFF3);
  background: -ms-linear-gradient(top,  #D1E6F6, #C5DFF3);
  background: linear-gradient(top,  #D1E6F6, #C5DFF3);
  box-shadow: 0 1px 1px #D1EBF4, inset 0 1px 0 #B9E1EE;
  text-shadow: 0 1px 0 #fdfdfd;
  
  }