@charset "utf-8";
/* CSS Document */

.general{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	padding:0;
	margin:0;
	background-color:#EAF5FF;
}

.titulo{
	text-align:center;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:16px;
        }

.hintsClass {
	font-family: tahoma, verdana, arial;
	font-size: 12px;
	background-color: #f0f0f0;
	color: #000000;
	border: 1px solid #808080;
	padding: 5px;
}

.botonimagen{
	 background-image:url(ico_calendario.jpg);
 
	 width:20px;
	 background-repeat:no-repeat;
	 background-position:center;
	 border:none;
	 background-color:#FFFFFF;
}

.td_pendiente{
	background-color:#FC0;
	border:1px #000 solid;
}

.td_realizada{
	background-color:#6C0;
	border:1px #000 solid;
}

.td_suspendida{
	background-color:#F30;
	border:1px #000 solid;
}

.td_anulada{
	background-color:#66C;
	border:1px #000 solid;
}

.td_sinEstado{
	background-color:#CCC;
	border:1px #000 solid;
}


a{text-decoration:none} 